/* ===== RESET.CSS ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

button, input, select, textarea {
    font: inherit;
}

fieldset {
    border: none;   /* Quita el borde */
    margin: 0;      /* Elimina márgenes */
    padding: 0;     /* Elimina padding extra */
}
